@import "tailwindcss";

html,
body {
  background-color: #f9fafb !important;
  color: #171717;
}

* {
  box-sizing: border-box;
}

/* Force le light mode partout */
@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #f9fafb !important;
    color: #171717;
  }
}